<% if user_signed_in? %>

<h1>About Paris</h1>
<p>
This page was created for me to learn how to code in ruby on rails. You can learn more about <%= link_to "Paris", "http://www.parisalaw.com" %>
</p>

<% else %>

<h1>You do not have permission to see this man. Login first.</h1>

<% end %>
