<div class= "hero-unit">
<h1>Welcome to Paris on Rails</h1>
<p>
	You've found the Official Rails Page of <%= link_to "Paris A. Law", 'http://www.parisalaw.com' %>
</p>

<p>
	<%= link_to "Sign Up!", '#', class: "btn btn-primary btn-large" %> For my Monthly Motivational Newsletter, 
</p>

</div>